@font-face {
  font-family: "Quantico";
  src: url("/assets/fonts/Quantico-Regular.woff2") format("woff2"),
    url("/assets/fonts/Quantico-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quantico", "Times New Roman", Times, serif;
  margin: 0;
}
a:hover {
  color: red;
}
a:active {
  text-decoration: underline, blue;
}
